@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: black;
}
a {
    text-decoration: none;
}
body p {
    position: absolute;
    color: gray;
    font-size: 5em;
    margin-top: 0;
}
.popup {
    position: absolute;
    left: 5%;
    top: 12%;
    z-index: 1000;
    display: inline-block;
    font-size: 1em;
    background: #999;
    padding: 25px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: .8;
}
.popup ul {
    margin: 0 0 0 0;
}
#copyright {
    font-size: .65em;
    color: #5e5e5e;
    text-align: center;
    margin: 5px;
}
svg {
    pointer-events: none;
}
svg > * {
    pointer-events: all;
}
svg.dotsvg:not(.opened) .arc {
    opacity: 0;
    pointer-events: none;
}
svg.dotsvg.opened * {
    opacity: 1;
}
svg.dotsvg .dotcenter {
    opacity: 1;
    pointer-events: all;
}
svg.connectionsvg * {
    pointer-events: none;
}
svg.dotsvg text {
    pointer-events: none;
}
text {
    pointer-events: none !important;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unitReference {
    position: absolute;
    visibility: hidden;
    width: 100mm;
    height: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}
.newDotMenu {
    position: absolute;
}
.hidden {
    display: none;
}
.closed {
    visibility: hidden;
    pointer-events: none;
}
.dot.name {
	text-anchor: middle;
	dominant-baseline: middle;
	fill: black;
}

/*  MENU CSS  */

/*#hamburger {
    position: absolute;
    left: 0;
    margin: 3mm;
}*/

.menu {
    background: #272727;
    position: fixed;
    /* Might bring width out to make right menu a bit bigger */
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.menu h3 {
    color: white;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #272727;
}

.menu div {
    color: white;
    padding: 0;
    margin: 0;
    background: #272727;
}

.menu div #logo {
    padding: 0;
    width: 125px;
    margin: 0 auto 0 auto;
}

#new-dot-container {
    background: #777;
}

#new-dot-container * {
    margin: 1mm 1mm 1mm 1mm;
}

.menu a {
    background: #777;
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border-bottom: 1px solid #272727;
    padding: 1em;
}
.menu a:hover {
    background: #8a8a8a;
}
.menu a:active {
    background: #bfbfbf;
    color: #000000;
}

#showLeft {
    position: absolute;
    left: 0;
    margin: 7px 7px 7px 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#showLeft.menu-open {
    left: 240px;
}
#showRight {
    position: absolute;
    right: 0;
    margin: 7px 7px 7px 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#showRight.menu-open {
    right: 240px;
}

.menu-left {
    left: -240px;
}

.menu-right {
    right: -240px;
}

.menu-left.menu-open {
    left: 0;
}

.menu-right.menu-open {
    right: 0;
}

/* added to body for moving */

.menu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.menu-push-toright {
    left: 240px;
}

/* Transitions */

.menu,
.menu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}